@import '_define';

$size-of-shape: 40;
$number-of-frames: 40;
$number-of-shapes: 3;
$mult-number: 360 / $number-of-shapes;
$dist: 40;

$number-of-items: 8;
$animation-time: 2s;
$multiplier: 1;

// 기본 설정
:root {
  --size-of-shape: #{$size-of-shape}px;
  --number-of-frames: #{$number-of-frames};
  --number-of-shapes: #{$number-of-shapes};
  --mult-number: #{360 / $number-of-shapes};
  --dist: #{$dist}px;
}

// 모바일 991px 이하
@media (max-width: 1024px) {
  :root {
    --size-of-shape: 20px;
    --number-of-frames: 20;
    --number-of-shapes: 3;
    --mult-number: #{360 / 3};
    --dist: 20px;
  }
}


.pc-only {
  @include tablet {
    display: none;
  }
}
.mo-only {
  display: none;
  @include tablet {
    display: block;
  }
}

.header {
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
  &__inner {
    @include flexbox($js:between);
    padding: 2.4rem 3%;
    .logo {
      display: block;
      width: 9.3rem;
      height: 2.4rem;
      @include bgimage('../images/logo.png', $size:contain, $pos:center center);
    }
  }
}
.section {
  overflow-x: hidden;
  &__loading {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: $black;
    z-index: 100;
    .loading-ani {
      &__wrap {
        position: absolute;
        left: -300px;
        top: 50%;
        transform: translateY(-50%);
        circle {
          animation: canim $animation-time ease-in-out 0s infinite alternate;
        }
        g {
          transform-origin: 400px 400px;
        }
        @for $i from 0 through 64 {
          #g-#{$i} {
            transform: rotate(calc(#{$i} * 180 / $number-of-items * -1 * 1deg));
          }
          #g-#{$i} > circle {
            animation-delay: calc(#{$i} * $animation-time / $number-of-items / $multiplier * 1);
          }
        }
      }
    }
  }
  &__top {
    @include bgimage('../images/bg_top02.jpg', $size:cover, $pos:center center);
    position: relative;
    isolation: isolate;
    &::after {
      content: '';
      position: absolute;
      background: $black;
      z-index: -1;
      inset: 0;
      opacity: 0.8;
    }
    .intro-ani {
      &__top {
        display: grid;
        place-items: center;
        height: 100dvh;
        canvas {
          inset: 0;
          width: 100%;
          height: 100%;
        }
      }
    }
  }
  &__text {
    position: relative;
    height: 200vh;
    .text-ani {
      position: absolute;
      top: 36%;
      left: 0;
      width: 100%;
      @include size(font, 64);
      text-align: center;
      font-weight: 600;
      font-family: 'Paperlogy' !important;
      color: #fff;
      // will-change: transform, opacity;
      @include mobile {
        font-size: 3.2rem;
        top: 45%;
      }
      span > img {
        @include size(width, 553);
        @include size(height, 116);
        @include mobile {
          width: 60%;
          height: 100%;
        }
      }
      .typing-ani {
        &:after {
          content: '|';
          display: inline;
          -webkit-animation: blink 0.7s infinite;
          -moz-animation: blink 0.7s infinite;
          animation: blink 0.7s infinite;
          color: $txt_primary;
        }
      }
      &__wrap {
        position: relative;
        height: 100vh;
      }
    }
  }
  &__intro {
    position: relative;
    height: 100vh;
    &:before {
      content:'';
      position: absolute;
      right: 0;
      top: 0;
      width: 100%;
      height: 100vh;
      @include bgimage('../images/bg_space.png', $size:auto 100%, $pos:right center);
      @include tablet {
        @include bgimage('../images/bg_space.png', $size:cover, $pos:center center);
      }
    }
    &:after {
      content:'';
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 100%;
      height: 100vh;
      @include bgimage('../images/img_vertical_logo.png', $size:auto 80%, $pos:left center);
      opacity: .5;
      @include tablet {
        display: none;
      }
    }
    #space {
      perspective: 2000px;
      height: 100%;
      width: 100%;
      position: relative;
      transform-style: preserve-3d;
    }
    #shade {
      position: absolute;
      left: 50%;
      top: 50%;
      height: 800px;
      width: 800px;
      transform: translate(-50%, -50%);
      background: rgba(255,255,255,0.2);
    }
    #globe {
      position: absolute;
      left: 50%;
      top: 50%;
      height: 400px;
      width: 400px;
      transform-style: preserve-3d;
      transform: rotateY(270deg) rotateX(-20deg);
      // animation: 20s orbit infinite linear;
    }
    #nts {
      backface-visibility: hidden;
      transform-style: preserve-3d;
    }
    .circle {
      position: absolute;
      left: 50%;
      top: 50%;
      border: solid 4px rgba(255,255,255,0.3);
      border-radius: 100%;
    }
    .intro-text {
      &__wrap {
        position: absolute;
        left: space(560);
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
        @include tablet {
          left: 50%;
          transform: translate(-50%, -50%);
          text-align: center;
          padding: 0 3%;
        }
      }
      &__title {
        @include size(font, 64);
        font-weight: 500;
        font-family: 'Paperlogy' !important;
        color: #fff;
        @include mobile {
          font-size: 3.2rem;
        }
      }
      &__desc {
        @include size(font, 30);
        padding-top: space(30);
        font-weight: 300;
        font-family: 'Paperlogy';
        color: #fff;
        @include mobile {
          font-size: 1.8rem;
        }
      }
    }
  }
  &__why {
    .section__inner {
      @include flexbox($js:between, $ai:start);
      gap: space(60);
      padding: space(200) 3%;
      @include tablet {
        flex-wrap: wrap;
        justify-content: center;
        padding: 10rem 3% 20rem;
      }
    }
    .why__title {
      @include size(font, 64);
      font-weight: 700;
      font-family: 'Paperlogy';
      color: $txt_primary;
      @include tablet {
        text-align: center;
        padding-bottom: 4rem;
      }
      @include mobile {
        font-size: 3.2rem;
      }
    }
    .accordion {
      &__wrap {
        width: 60%;
        border-bottom: 1px solid $white;
        @include tablet {
          width: 100%;
        }
      }
      &__list {
        padding: 4rem 0;
        border-top: 1px solid $white;
        @include mobile {
          padding: 2.4rem 0;
        }
      }
      &__title {
        position: relative;
        @include size(font, 32);
        font-family: 'Paperlogy';
        color: $white;
        font-weight: 500;
        padding-right: space(60);
        line-height: 1.3;
        &:before {
          content:'';
          position: absolute;
          right: 23px;
          top: -2px;
          width: 2px;
          height: 40px;
          background-color: $primary_color;
          @include tablet {
            content:'';
            right: 18px;
            top: 0px;
          }
          @include mobile {
            content:'';
            width: 1px;
            height: 24px;
            right: 12px;
            top: 2px;
          }
        }
        &:after {
          content:'';
          position: absolute;
          right: 4px;
          top: 18px;
          width: 40px;
          height: 2px;
          background-color: $primary_color;
          @include tablet {
            content:'';
            right: 0;
            top: 19px;
          }
          @include mobile {
            content:'';
            width: 24px;
            height: 1px;
            top: 14px;
          }
        }
        @include mobile {
          font-size: 1.8rem;
        }
      }
      &__con {
        display: none;
        @include size(font, 24);
        font-family: 'Paperlogy';
        color: $white;
        padding-top: space(40);
        @include mobile {
          font-size: 1.6rem;
          padding-top: 2.4rem;
        }
      }
    }
  }
  &__service {
    position: relative;
    height: 100vh;
    overflow-y: hidden;
    @include tablet {
      height: auto;
    }
    .bg {
      position: absolute;
      height: 100vh;
      top: 0;
      left: 0;
      width: 100%;
      transition: all .1s linear;
      canvas {
        filter: grayscale(1);
        opacity: .7;
      }
    }
    .service {
      &-box {
        &__wrap {
          padding: 0 3%;
        }
      }
      &-text {
        &__wrap {
          @include column-flexbox();
          text-align: center;
          height: 100vh;
          @include tablet {
            height: auto;
          }
          .title {
            @include size(font, 100);
            font-weight: bold;
            color: $txt_primary;
            font-family: 'Paperlogy';
            @include mobile {
              font-size: 3.2rem;
            }
          }
          .sub-title {
            @include size(font, 36);
            font-weight: 500;
            padding-top: space(60); 
            font-family: 'Paperlogy';
            color: #fff;
            @include tablet {
              padding-top: 4rem;
            }
            @include mobile {
              font-size: 2.4rem;
            }
          }
          .desc {
            @include size(font, 24);
            padding-top: space(60);
            font-family: 'Paperlogy';
            color: #fff;
            font-weight: 300;
            @include tablet {
              width: 70%;
              margin: 0 auto;
            }
            @include mobile {
              width: 100%;
              font-size: 1.6rem;
              padding-top: 2.4rem;
            }
          }
        }
      }
      &-list {
        position: relative;
        padding-top: 10rem;
        margin-top: 30rem;
        text-align: center;
        @include tablet {
          margin-top: 16rem;
          padding-top: 7rem;
        }
        & > .criterion {
          position: absolute;
          left: 49%;
          top: 0;
          width: 20rem;
          height: 20rem;
          @include mobile {
            left: 48%;
          }
          & > span {
            position: absolute;
            width: var(--size-of-shape);
            height: var(--size-of-shape);
            border-radius: 50%;
            background-color: #fff;
          }
          @for $i from 0 through $number-of-frames {
            &:nth-of-type(#{$i + 1}) {
              @for $j from 0 through $number-of-shapes {
                & > span:nth-of-type(#{$j + 1}) {
                  animation: shape-animation#{ $i }-#{ $j } 1s ease-in-out infinite alternate;
                }
              }
            }
          }
        }
        &__wrap {
          .title {
            @include size(font, 48);
            font-weight: 700;
            font-family: 'Paperlogy';
            color: #fff;
            @include mobile {
              font-size: 2.8rem;
            }
          }
          .sub-title {
            @include size(font, 32);
            font-weight: 500;
            padding: space(100) 0 space(60);
            font-family: 'Paperlogy';
            color: #fff;
            @include mobile {
              font-size: 2.4rem;
              padding: 4rem 0 2.4rem;
            }
          }
          .desc {
            @include size(font, 24);
            font-family: 'Paperlogy';
            color: #fff;
            font-weight: 300;
            @include mobile {
              font-size: 1.6rem;
            }
          }
        }
      }
    }
  }
  &__process {
    padding-top: space(400);
    overflow-x: hidden;
    @include mobile {
      padding-top: 16rem;
    }
    .process {
      &-ani {
        @include flexbox();
        gap: space(10);
        white-space: nowrap;
        position: relative;
        will-change: transform;
        & > p {
          @include size(font, 160);
          font-weight: 700;
          color: $txt_primary;
          font-family: 'Paperlogy';
          @include mobile {
            font-size: 6rem;
          }
        }
        &__wrap {
          position: relative;
        }
      }
      &-list {
        @include flexbox($js:between);
        gap: space(24);
        background-color: #111;
        border-radius: 5rem;
        padding: space(60) space(100);
        border: 2px solid #272727;
        position: sticky;
        top: space(80);
        will-change: transform, opacity;
        @include mobile {
          flex-direction: column;
          flex-wrap: wrap;
          align-items: start;
        }
        @include mobile {
          padding: 2.4rem 4rem;
          border-radius: 3rem;
        }
        & + .process-list {
          margin-top: space(16);
        }
        .process-right {
          @include size(width, 470);
          @include mobile {
            width: 100%;
          }
        }
        .title {
          &-eng {
            @include size(font, 60);
            font-weight: 700;
            font-family: 'Paperlogy';
            color: #fff;
            @include mobile {
              font-size: 2.4rem;
            }
          }
          &-ko {
            @include size(font, 40);
            font-weight: 500;
            font-family: 'Paperlogy';
            color: #fff;
            @include mobile {
              display: none;
            }
          }
          &-desc {
            @include size(font, 30);
            padding-top: space(16);
            font-family: 'Paperlogy';
            color: #fff;
            font-weight: 300;
            @include mobile {
              font-size: 1.6rem;
            }
          }
        }
        &__wrap {
          position: relative;
          padding: 12rem 3% 20rem;
          @include tablet {
            padding: 6rem 3% 10rem
          }
          @include mobile {
            padding: 4rem 3% 6rem;
          }
        }
      }
    }
  }
  &__portfolio {
    padding-top: 60rem;
    @include tablet {
      padding-top: 20rem;
    }
    .title {
      padding-bottom: 3.2rem;
      @include size(font, 100);
      font-weight: bold;
      color: $txt_primary;
      text-align: center;
      font-family: 'Paperlogy';
      @include mobile {
        font-size: 4.8rem;
      }
    }
    .portfolio {
      &-list {
        min-width: 100vw!important;
        @include flexbox();
        img {
          width: 50%;
          @include tablet {
            width: 90%;
          }
        }
        &__wrap {
          width: 200%;
          height: 100vh;
          display: flex;
          flex-wrap: nowrap;
          @include tablet {
            width: 100%;
            height: auto;
            flex-wrap: wrap;
            padding-bottom: 20rem;
          }
        }
      }
    }
  }
}

.btn__wrap {
  @include flexbox();
  .btn-contact {
    position: relative;
    display: inline-block;
    text-align: center;
    overflow: hidden;
    z-index: 1;
    transition: all .3s;
    &:before,
    &:after {
      position: absolute;
      top: 50%;
      content: '';
      width: 2rem;
      height: 2rem;
      background-color: $white;
      border-radius: 50%;
      z-index: -1;
    }
    &:before {
      left: -20px;
      transform: translate(-50%, -50%);
    }
    &:after {
      right: -20px;
      transform: translate(50%, -50%);
    }
    &:hover {
      color: $black;
      &:before {
        animation: criss-cross-left 0.8s both;
        animation-direction: alternate;
      }
      &:after {
        animation: criss-cross-right 0.8s both;
        animation-direction: alternate;
      }
    }
    &__big {
      @include size(font, 74);
      font-weight: 700;
      border-radius: 16rem;
      border:5px solid $white;
      padding: space(90) space(150);
      font-family: 'Paperlogy';
      color: #fff;
      @include tablet {
        border-width: 2px;
      }
      @include mobile {
        font-size: 2.8rem;
        padding: 2.4rem 3.6rem;
      }
    }
    &__small {
      font-size: 1.6rem;
      font-weight: 500;
      border-radius: 16rem;
      border:1px solid $white;
      padding: 1rem 1.4rem;
      font-family: 'Paperlogy';
      color: #fff;
      @include mobile {
        font-size: 1.4rem;
      }
    }
  }
}

.footer {
  &__inner {
    margin: 0 3%;
    border-top: 1px solid $white;
    padding: 5.4rem 0;
  }
  &__info {
    @include flexbox($js:between, $ai:start);
    @include mobile {
      flex-direction: column;
      flex-wrap: wrap;
      gap: 2rem;
    }
    p {
      font-size: 1.2rem;
      color: $white;
      font-family: 'Paperlogy';
      flex: 1;
      &.email {
        text-align: right;
      }
    }
    .sns-wrap {
      @include flexbox();
      flex: 1;
      a {
        position: relative;
        display: inline-block;
        padding: 0 2rem;
        @include mobile {
          padding: 0;
          padding-right: 2rem;
        }
        &:first-of-type {
          &:after {
            content:'';
            position: absolute;
            right: 0;
            top: 3px;
            width: 1px;
            height: 10px;
            background-color: $white;
            @include mobile {
              content: '';
              display: none;
            }
          }
        }
      }
    }
  }
  .copy {
    color: #555;
    padding-top: 2rem;
    text-align: center;
    @include mobile {
      text-align: left;
    }
  }
}


@keyframes canim {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(700px);
  }
}
@keyframes orbit {
  0% { transform: rotateY(-180deg) rotateX(20deg) };
  100% { transform: rotateY(180deg) rotateX(20deg) };
}
@keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}
@for $i from 0 through $number-of-shapes {
  @keyframes shape-animation0-#{$i} {
    0% {
      left: 0;
      top: 0;
    }
    33.3% {
      left: calc(-#{$i} * var(--size-of-shape) + var(--size-of-shape));
      top: 0;
    }
    66.6% {
      left: calc(cos(#{$i} * var(--mult-number) * 1deg) * var(--dist));
      top: calc(sin(#{$i} * var(--mult-number) * 1deg) * var(--dist));
    }
    100% {
      left: calc(sin(#{$i} * var(--mult-number) * 1deg) * var(--dist));
      top: calc(cos(#{$i} * var(--mult-number) * 1deg) * var(--dist));
    }
  }

  @keyframes shape-animation1-#{$i} {
    0% {
      left: 0;
      top: 0;
    }
    33.3% {
      left: calc(-#{$i} * var(--size-of-shape) + var(--size-of-shape));
      top: 0;
    }
    66.6% {
      left: calc(sin(#{$i} * var(--mult-number) * 1deg) * var(--dist));
      top: calc(cos(#{$i} * var(--mult-number) * 1deg) * var(--dist));
    }
    100% {
      left: calc(cos(#{$i} * var(--mult-number) * 1deg) * var(--dist));
      top: calc(sin(#{$i} * var(--mult-number) * 1deg) * var(--dist));
    }
  }
}

@keyframes criss-cross-left {
  0% {
    left: -20px;
  }
  50% {
    left: 50%;
    width: 2rem;
    height: 2rem;
  }
  100% {
    left: 50%;
    width: 100rem;
    height: 40rem;
  }
}

@keyframes criss-cross-right {
  0% {
    right: -20px;
  }
  50% {
    right: 50%;
    width: 2rem;
    height: 2rem;
  }
  100% {
    right: 50%;
    width: 100rem;
    height: 40rem;
  }
}